.table-container {
    width: 60%;
    margin: 0 auto;
  }
  
  .table-style {
    border-collapse: collapse;
    border: 5px solid black;
  }
  
  .table-style th,
  .table-style td {
    border: 5px solid black;
    padding: 8px;
    text-align: center;
  }

  .next {
    margin: 10px;
  }

  .charList {
    margin-bottom: 10px;
  }
  